.shipping-container{
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1.5rem;
}

.shipping-container h2{
  text-align: center;
  margin-bottom: 20px;
}

.shipping-form{
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.form-group{
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

label{
  font-size: 14px;
  margin-bottom: 4px;
}

input, select{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-row{
  display: flex;
  gap: 12px;
}

.shipping-btn{
  /* width: 100%; */
  margin-top: 10px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;

}

@media(max-width: 700px){
  .form-row{
    flex-direction: column;
  }
}

.progress-line.active {
  width: 60%;
}

.step.active i {
  color: #8c2929;  /* highlight color */
}