.wishlist-container {
  max-width: 1600px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

/* ================= EMPTY STATE ================= */
.empty-wishlist{
    /* background: linear-gradient(to bottom right, #ffffff, #f3f6ff); */
  padding: 3rem;
  border-radius: 20px;
  width: 480px;
  margin: auto;
  text-align: center;
  /* box-shadow: 0 20px 50px rgba(0,0,0,0.08); */
  animation: fadeIn 0.7s ease-in-out;
}

.empty-wishlist img {
  width: 260px;
  margin-bottom: 1rem;
  animation: float 2s infinite ease-in-out;
}

.empty-wishlist h3 {
  font-size: 1.6rem;
  margin-bottom: 6px;
  color: #222;
}

.empty-wishlist p {
  color: #666;
  margin-bottom: 1.2rem;
}

.browse-btn {
  background: #8b0000;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.browse-btn:hover {
  background: #e7315c;
  transform: translateY(-2px);
}

/* ================= LIST ITEMS ================= */
.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1rem;
}

.wishlist-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  transition: 0.3s;
  background: #fff;
}

.wishlist-card:hover {
  transform: translateY(-4px);
}

.wishlist-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.wishlist-card h3 {
  margin: 10px 0 4px;
}

.wishlist-card p {
  color: #555;
}

/* ================= BUTTONS ================= */
.wishlist-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.add-btn {
  background: #ffd43b;
  padding: 8px 12px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn {
  background: #8b0000;
  padding: 8px 12px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background: #27ae60;
}

.remove-btn:hover {
  background: #8b0000;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .wishlist-items {
    flex-direction: column;
    align-items: center;
  }

  .wishlist-card {
    width: 90%;
    max-width: 360px;
  }

  .empty-wishlist {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .wishlist-card img {
    height: 200px;
  }

  .empty-wishlist img {
    width: 180px;
  }
}
