.hero-wrapper {
  width: 100%;
  height: 100vh;
background: linear-gradient(135deg, #ffffff, #f2f0f0);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* ------------------ JOUNCE INTRO ------------------ */
.jounce-animate {
  font-size: 6rem;
font-family: "Playfair Display", serif;


  font-weight: 900;
  color: #0f0f0f;
  letter-spacing: 8px;
  position: absolute;
  animation: zoomOut 2.2s ease forwards;
}


@keyframes popIn {
  0% { transform: scale(0); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

/* ------------------ HERO SECTION ------------------ */
.hero-section {
  text-align: center;
  color: #101010;
  animation: fadeIn 1.4s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.title {
  font-size: 4rem;
  font-weight: 900;
}

.title span {
  color: #101010;
}

.subtitle {
  margin: 10px 0 20px;
  font-size: 1.5rem !important;
}

/* ------------------ BUTTONS ------------------ */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
}

.btn {
  padding: 10px 22px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
  border: none;
}

.primary {
  background: #000;
  color: white;
}

.secondary {
  background: transparent;
  border: 1px solid #000;
  color: black;
}

.btn:hover {
  transform: scale(1.05);
}

/* ------------------ FEATURES ------------------ */
.hero-features {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-features h3 {
  font-size: 1.3rem;
  margin: 0;
}

.hero-features p {
  margin: 0;
  font-size: .9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .title { font-size: 2rem; }
  .jounce-animate { font-size: 4rem; }
  .hero-features { flex-direction: column; gap: 10px; }
}


@keyframes zoomOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }

  80% {
    transform: scale(10);
    opacity: 1;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}
