.recently-viewed-section{
    margin-top: 60px;
}
.rv-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.rv-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.rv-card{
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease ,box-shadow 0.3s ease;
}

.rv-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.rv-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.rv-info{
    padding: 12px;
}

.rv-info h4{
    font-size: 15px;
    margin-bottom: 6px;
    color: #222;
}

.rv-price{
    font-weight: 600;
    margin-bottom: 10px;
}

.rv-btn{
    width: 100%;
    padding: 8px 0 ;
    border: none;
    background: #111;
    color: white;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.rv-btn:hover{
    background: #ffb300;
    color: #000;
}