.women-section {
  padding: 60px 40px;
  background: #fff;
}

.women-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.women-card {
  cursor: pointer;
  /* font-family: "Georgia", serif; */
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.women-card:hover img {
  transform: scale(1.06);
}

.tag {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background: #e35c3a;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  letter-spacing: 1px;
}

.women-card h3 {
  font-size: 18px;
  margin: 14px 0 6px;
  font-weight: 500;
}

.women-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.explore {
  font-size: 12px;
  letter-spacing: 1px;
  color: #000;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease;
}

.women-card:hover .explore {
  border-bottom: 1px solid #000;
}

/* Responsive */
@media (max-width: 1200px) {
  .women-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .women-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-wrapper img {
    height: 360px;
  }
}
